html, body {
	overflow: auto;
}

body > section {
	margin: 15em 0;
}

/*body > section {
	display: block;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}*/

section.library li a{
	font-style: italic;
	text-decoration: none;
	color: gray;
	display: block;
}

.pane {
	background-color: rgba(100, 100, 100, 0.1);
	padding-top: 2em;
}

.pane > a.open {
	position: absolute;
	line-height: 2em;
	background-color: rgba(100, 100, 100, 0.2);
	display: block;
	width: 100%;
}

section.library li a .title {
	font-weight: bold;
}

section.library .search.content {
	display: none;
}

section.library li:focus {
	color: darkgreen;
}

section.library li a * {
	font-style: normal;
	color: blacK;
}


section.toc navLabel {
	color: blue;
	cursor: pointer;
}

section.toc navLabel:hover {
	text-decoration: underline;
}


section.toc navPoint {
	display: block;
	padding-left: 1em;
}

section.toc navPoint navPoint navPoint, #toc pageList {
	display: none;
}

section.ebook > a {
	display: none;
}

section.ebook > iframe {
	display: block;
	border: 0;
	width: 100%;
	height: 100%;
	/*position: absolute;*/
}
