html,body{overflow:hidden;height:100%;width:100%;padding:0;margin:0;position:absolute;left:0;}
body{width:100%;}
a{text-decoration:none;color:#0a1b26;}
body>div{-moz-transition:left 250ms;height:100%;width:100%;position:fixed;left:100%;}body>div>header,body>div>footer{-moz-box-sizing:border-box;box-sizing:border-box;position:absolute;left:0;right:0;}
body>div>header{top:0;background:#00539f;}body>div>header h1{margin:0;line-height:3rem;padding-left:0.5rem;float:left;}
body>div>div.content{position:absolute;top:3rem;bottom:3rem;overflow:auto;width:100%;}
body>div>footer{height:3rem;bottom:0;background:#6a7b86;}body>div>footer nav ul{padding:0;margin:0;}body>div>footer nav ul li{float:left;width:33%;line-height:3rem;text-align:center;font-size:0.8em;}body>div>footer nav ul li a{display:block;}
body>div.library{left:0%;z-index:0;}body>div.library header a{float:right;line-height:3rem;}body>div.library header a[href="#ebook"]{display:none;}
body>div.library .content #library-filter p{margin:0;}body>div.library .content #library-filter p input[name=filter]{height:2em;padding-left:1rem;border-width:0;border-bottom-width:1px;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;}
body>div.library .content ul{list-style:none;padding:0;}body>div.library .content ul li{font-style:normal;color:blacK;padding:0 1rem;padding-bottom:2.5rem;position:relative;font-style:italic;color:gray;cursor:pointer;}body>div.library .content ul li .title{font-weight:bold;display:block;}
body>div.library .content ul li span{font-style:normal;color:black;}
body>div.library .content ul li button,body>div.library .content ul li a{opacity:0.3;position:absolute;bottom:0;line-height:1rem;margin-bottom:0.5rem;padding:0.25rem;border:1px solid gray;font-weight:bold;background-color:#ffdddd;border-color:#663333;color:black;}
body>div.library .content ul li a{right:1rem;background-color:#ddddff;border-color:#333366;}
body>div.library .content ul li:focus button,body>div.library .content ul li:focus a{opacity:1;}
body>div.library .content ul li .search-content{display:none;}
body>div.ebook:not(.pane){left:100%;}body>div.ebook:not(.pane) header a{float:left;line-height:3rem;}
body>div.ebook:not(.pane) header button{float:right;line-height:3rem;border:0;}
body>div.ebook:not(.pane) .content{background:white;}
body>div.ebook:not(.pane) iframe{display:block;border:0;width:100%;height:100%;}
body>div.pane.ebook.target~.ebook:not(.pane),body>div.ebook:not(.pane).target{left:0%;}
body>div.pane.ebook.target~.library,body>div.ebook.target~.library{left:-100%;}
body>div.pane{z-index:1;width:calc(100% - 2rem);left:-100%;background:#f5efe6;}body>div.pane>a.back{position:absolute;right:0;width:2rem;height:100%;background-color:rgba(0, 0, 0, 0.15);color:transparent;}
body>div.pane.target{left:0%;}body>div.pane.target>a.back{right:-2rem;}
body>div.pane.target~.library{left:calc(100% - 2rem);}
body>div.pane.target.ebook~.ebook:not(.pane){left:calc(100% - 2rem);}
body>div.pane>div.content{bottom:0;padding:0 1rem;width:calc(100% - 2rem);}
body>div.pane.toc navLabel{color:blue;cursor:pointer;}
body>div.pane.toc navLabel:hover{text-decoration:underline;}
body>div.pane.toc navPoint{display:block;padding-left:1em;}
body>div.pane.toc navPoint navPoint navPoint,body>div.pane.toc pageList{display:none;}
body>div.overlay{z-index:2;background:#d4dde4;overflow:auto;}body>div.overlay.loading{background-image:url('../images/loading.gif');background-position:center;background-repeat:no-repeat;text-align:center;line-height:50vh;}body>div.overlay.loading .close-overlay{position:absolute;left:0;top:0;}
html.no-fileinput #import_ebook_input,html.no-system-xhr #import_ebook_internet{display:none;}
button#update,button#install{display:none;}
html.apps[data-uptodate=false][data-installed=true] button#update,html.apps[data-installed=false] button#install{display:block;width:100%;border:0;line-height:3rem;}
#opds ul{list-style:none;padding:0;}#opds ul button{width:100%;border:0;padding:0;background:none;text-align:left;}#opds ul button img{margin-right:3px;vertical-align:middle;}
#opds ul button hgroup{display:inline-block;vertical-align:middle;}#opds ul button hgroup *{margin:0;font-weight:normal;text-align:left;font-size:1em;}
#opds ul button hgroup h1{font-size:1.1em;}
.opds-feed ol{list-style:none;padding:0;}.opds-feed ol button{width:100%;padding:0;border:0;background:none;text-align:left;}.opds-feed ol button em *{vertical-align:middle;line-height:1.5em;max-height:1.5em;}
.opds-feed ol button div{font-weight:lighter;}
