
@bgcolor: white;

@panebackw: 5rem;
@headerh  : 3rem;
@footerh  : 3rem;

@fast     :  150ms;
@normal   :  250ms;
@slow     :  400ms;
@extraslow:     1s;

@defaultspeed: @extraslow;

html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
}

body {
	width: 100%;
	overflow: visible;
}

a {
	text-decoration: none;
}

body > div {
	-moz-transition: left @defaultspeed;
	
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 100%;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: @bgcolor;
	
	& > header, 
	& > footer {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		right: 0;
	}
	
	& > header {
		height: @headerh;
		border-bottom: 1px solid black;
		top: 0;
		
		h1 {
			margin: 0;
			line-height: @headerh;
		}
	}
	
	& > div.content {
		position: absolute;
		top: @headerh;
		bottom: 3rem;
		overflow: auto;
		width: 100%;
	}
	
	& > footer {
		height: @footerh;
		border-top: 1px solid black;
		bottom: 0;
		
		nav ul {
			padding: 0;
			margin: 0;
			li {
				float: left;
				display: inline-block;
				width: 25%;
				line-height: 3rem;
				text-align: center;
				font-size: 0.8em;
				
				a {
					display: block;
				}
			}
		}
	}
	
	&.library {
		left: 0%;
		z-index: 0;
		
		header {
			a {
				float: right;
				line-height: @headerh;
				margin: 0 1rem;
				
				&[href="#ebook"] {
					display: none;
				}
			}
		}
		
		.content {
			ul {
				list-style: none;
				padding: 0;
				
				li {
					font-style: normal;
					color: blacK;
					padding: 0 1rem;
					padding-bottom: 2.5rem;
					position: relative;
					font-style: italic;
					color: gray;
					cursor: pointer;
					
					.title {
						font-weight: bold;
						display: block;
					}
					
					span {
						font-style: normal;
						color: black;
					}
					
					button, a {
						opacity: 0.3;
						position: absolute;
						bottom: 0;
						line-height: 1rem;
						margin-bottom: 0.5rem;
						padding: 0.25rem;
						border: 1px solid gray;
						font-weight: bold;
						background-color: #ffdddd;
						border-color: #663333;
						color: black;
					}
					
					a {
						right: 1rem;
						background-color: #ddddff;
						border-color: #333366;
					}
					
					&:focus {
						button, a {
							opacity: 1;
						}
					}
					
					.search-content {
						display: none;
					}
				}
			}
		}
	}
	
	&.ebook:not(.pane) {
		left: 100%;
		
		header {
			a {
				float: left;
				line-height: @headerh;
				margin: 0 1rem;
			}
		}
		
		iframe {
			display: block;
			border: 0;
			width: 100%;
			min-height: ~"calc(100% - 4em)";
		}
		
		a[rel] {
			display: block;
			line-height: 2em;
			
			&[href="#"] {
				display: none;
				
				& + iframe {
					min-height: ~"calc(100% - 2em)";
				}
			}
		}
	}
	
	&.pane.ebook.target ~ .ebook:not(.pane), 
	&.ebook:not(.pane).target {
		left: 0%;
	}
	
	&.pane.ebook.target ~ .library, 
	&.ebook.target ~ .library {
		left: -100%;
	}
	
	&.pane {
		z-index: 1;
		width: 100%;
		left: -100%;
		padding-right: @panebackw;
		
		& > a.back {
			position: absolute;
			right: 0;
			width: @panebackw;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
		
		&.target {
			left: 0%;
		}
		
		& > div.content {
			bottom: 0;
			width: ~`"calc(100% - @{panebackw})"`;
		}
		
		&.toc {
			navLabel {
				color: blue;
				cursor: pointer;
			}
			
			navLabel:hover {
				text-decoration: underline;
			}
			
			navPoint {
				display: block;
				padding-left: 1em;
			}
			
			navPoint navPoint navPoint, 
			pageList {
				display: none;
			}
		}
	}
}
