
@bgcolor: white;
@headerbg: #00539F;
@footerbg: #6A7B86;
@headerpanebg: #0095DD;
@panebg: #F5EFE6;
@linkcolor: #0A1B26;
@overlaybg: #D4DDE4;

@panebackw: 2rem;
@headerh  : 3rem;
@footerh  : 3rem;

@fast     :  150ms;
@normal   :  250ms;
@slow     :  400ms;
@extraslow:     1s;

@defaultspeed: @normal;

html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
}

body {
	width: 100%;
}

a {
	text-decoration: none;
	color: @linkcolor;
}

body > div {
	-moz-transition: left @defaultspeed;
	
	height: 100%;
	width: 100%;
	position: fixed;
	left: 100%;
	
	& > header, 
	& > footer {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		right: 0;
	}
	
	& > header {
		top: 0;
		background: @headerbg;
		
		h1 {
			margin: 0;
			line-height: @headerh;
			padding-left: 0.5rem;
			float: left;
		}
	}
	
	& > div.content {
		position: absolute;
		top: @headerh;
		bottom: 3rem;
		overflow: auto;
		width: 100%;
	}
	
	& > footer {
		height: @footerh;
		bottom: 0;
		background: @footerbg;
		
		nav ul {
			padding: 0;
			margin: 0;
			li {
				float: left;
				width: 33%;
				line-height: 3rem;
				text-align: center;
				font-size: 0.8em;
				
				a {
					display: block;
				}
			}
		}
	}
	
	&.library {
		left: 0%;
		z-index: 0;
		
		header {
			a {
				float: right;
				line-height: @headerh;
				
				&[href="#ebook"] {
					display: none;
				}
			}
		}
		
		.content {
			
			#library-filter {
				p {
					margin: 0;
					
					input[name=filter] {
						height: 2em;
						padding-left: 1rem;
						border-width: 0;
						border-bottom-width: 1px;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						width: 100%;
					}
				}
			}
			
			ul {
				list-style: none;
				padding: 0;
				
				li {
					font-style: normal;
					color: blacK;
					padding: 0 1rem;
					padding-bottom: 2.5rem;
					position: relative;
					font-style: italic;
					color: gray;
					cursor: pointer;
					
					.title {
						font-weight: bold;
						display: block;
					}
					
					span {
						font-style: normal;
						color: black;
					}
					
					button, a {
						opacity: 0.3;
						position: absolute;
						bottom: 0;
						line-height: 1rem;
						margin-bottom: 0.5rem;
						padding: 0.25rem;
						border: 1px solid gray;
						font-weight: bold;
						background-color: #ffdddd;
						border-color: #663333;
						color: black;
					}
					
					a {
						right: 1rem;
						background-color: #ddddff;
						border-color: #333366;
					}
					
					&:focus {
						button, a {
							opacity: 1;
						}
					}
					
					.search-content {
						display: none;
					}
				}
			}
		}
	}
	
	&.ebook:not(.pane) {
		left: 100%;
		
		header {
			a {
				float: left;
				line-height: @headerh;
			}
			
			button {
				float: right;
				line-height: @headerh;
				border: 0;
			}
		}
		
		.content {
			background: white;
			overflow: hidden;
			
			iframe {
				display: block;
				border: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
				position: absolute;
				left: 0px;
				top: 0px;
				background: white;
				
				&.under {
					z-index: 1;
				}
				
				&.top {
					z-index: 2;
					opacity: 1;
					-moz-transition: opacity @defaultspeed;
					
					&.swiped-enough {
						opacity: 0.85;
					}
				}
			}
			
			&.uncover-pages iframe.top {
				box-shadow: 0 0 5px 2px black;
			}
		}
	}
	
	&.pane.ebook.target ~ .ebook:not(.pane), 
	&.ebook:not(.pane).target {
		left: 0%;
	}
	
	&.pane.ebook.target ~ .library, 
	&.ebook.target ~ .library {
		left: -100%;
	}
	
	&.pane {
		z-index: 1;
		width: ~`"calc(100% - @{panebackw})"`;
		left: -100%;
		background: @panebg;
		
		& > a.back {
			position: absolute;
			right: 0;
			width: @panebackw;
			height: 100%;
			background-color: #bcbcbc;
			color: transparent;
			opacity: 0.25;
		}
		
		&.target {
			left: 0%;
			z-index: 3;
			position: absolute;
			
			& > a.back {
				right: -@panebackw;
			}
			
			& ~ .library {
				left: ~`"calc(100% - @{panebackw})"`;
			}
			
			&.ebook ~ .ebook:not(.pane) {
				left: ~`"calc(100% - @{panebackw})"`;
			}
		}
		
		& > div.content {
			bottom: 0;
			padding: 0 1rem;
		}
		
		&.toc {
			navLabel {
				color: blue;
				cursor: pointer;
			}
			
			navLabel:hover {
				text-decoration: underline;
			}
			
			navPoint {
				display: block;
				padding-left: 1em;
			}
			
			navPoint navPoint navPoint, 
			pageList {
				display: none;
			}
		}
	}
	
	&.overlay {
		z-index: 2;
		background: @overlaybg;
		overflow: auto;
		
		&.loading {
			background-image: url('../images/loading.gif');
			background-position: center;
			background-repeat: no-repeat;
			text-align: center;
			line-height: 50vh;
			
			.close-overlay {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

html.no-fileinput  #import_ebook_input, 
html.no-system-xhr #import_ebook_internet {
	display: none;
}

button#update, 
button#install {
	display: none;
}

html.apps[data-uptodate=false][data-installed=true] button#update,  
html.apps[data-installed=false] button#install {
	display: block;
	width: 100%;
	border: 0;
	line-height: 3rem;
}

#opds ul {
	list-style: none;
	padding: 0;
	
	button {
		width: 100%;
		border: 0;
		padding: 0;
		background: none;
		text-align: left;
		
		img {
			margin-right: 3px;
			vertical-align: middle;
		}
		
		hgroup {
			display: inline-block;
			vertical-align: middle;
			
			* {
				margin: 0;
				font-weight: normal;
				text-align: left;
				font-size: 1em;
			}
			
			h1 {
				font-size: 1.1em;
			}
		}
	}
}

.opds-feed ol {
	list-style: none;
	padding: 0;
	
	button {
		width: 100%;
		padding: 0;
		border: 0;
		background: none;
		text-align: left;
		
		em * {
			vertical-align: middle;
			line-height: 1.5em;
			max-height: 1.5em;
		}
		
		div {
			font-weight: lighter;
		}
	}
}

#import_ebook_opds {
	display: none;
}

#settings {
	
	.content {
		background: #ccc;
		padding: 0;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		
		h2, h3 {
			font-size: 1em;
			font-weight: normal;
			margin: 0;
			display: inline;
		}
		
		h2 {
			margin-left: 1rem;
		}
		
		h2, h3, label {
			line-height: 2rem;
		}
		
		&.settings-list {
			background: #aaa;
			& > li > ul {
				background: #ccc;
			}
			& > li > ul {
				border-top: 2px solid #888;
			}
		}
		
		li {
			
			label {
				display: block;
				
				input {
					float: left;
					margin: 0.2em;
				}
			}
			
			clear: both;
			overflow: auto;
			
			&.setting-item {
				border-bottom: 1px solid #888;
				padding: 0 1rem;
				
				li {
					padding: 0 .5rem;
					border-bottom: none;
					border-top: 1px solid #ddd;
				}
			}
		}
		
		li.disabled {
			color: #5E5E5E;
			
			h3 span {
				font-style: italic;
				color: #3C3C3C;
				
				&:before {
					content: ' (';
				}
				&:after {
					content: ')';
				}
			}
		}
	}
}

#fullscreen {
	display: none;
}