<div class="opds-feed">
	<header>
		<b>{{>title}}</b> feed</span>
		<button id="close-opds-feed" class="close-overlay">close</button>
	</header>
	{{if search}}
		<p><em>search not implemented</em></p>
	{{/if}}
	
	<ol>
		{{selector 'link[rel=start]' feed}}
			<li>
				<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
			</li>
		{{/selector}}
		
		{{selector 'link[rel=previous]' feed}}
			{{selector 'link[rel=first]' #parent.data.feed}}
				{{if getAttribute('href') !== #parent.data.getAttribute('href')}}
					<li>
						<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
					</li>
				{{/if}}
			{{/selector}}
			<li>
				<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
			</li>
		{{/selector}}
		
		{{selectorAll 'entry' feed}}
			<li>
				{{selector 'link[type="application/atom+xml;profile=opds-catalog"],link[type="application/atom+xml;profile=opds-catalog;kind=navigation"],link[type="application/atom+xml;type=entry;profile=opds-catalog"],link[type="application/atom+xml"],link[type="application/atom+xml;profile=opds-catalog;kind=acquisition"]'}}
					<button data-next="{{>getAttribute('href')}}">
				{{/selector}}
					<em>
						{{selector 'link[type="image/png"]'}}
							<img src="{{>getAttribute('href')}}"/>
						{{/selector}}
						{{selector 'title'}}<span>{{>textContent}}</span>{{/selector}}
					</em>
				{{selector 'link[type="application/atom+xml;profile=opds-catalog"],link[type="application/atom+xml"]'}}
					</button>
				{{/selector}}
				{{selector 'content[type=text]'}}
					<div>{{>textContent}}</div>
				{{/selector}}
				{{selector 'content[type=xhtml]'}}
					<div>{{selector '*'}}{{:innerHTML}}{{/selector}}</div>
				{{/selector}}

				<hr/>
				<ul>
				{{selectorAll 'link'}}
					{{if ~ebook_formats()[getAttribute('type')]}}
						<button 
							data-ebook-uri="{{>getAttribute('href')}}" 
							data-type="{{>getAttribute('type')}}"
						>Download eBook in {{>~ebook_formats()[getAttribute('type')]}}</button>
					{{/if}}
				{{/selectorAll}}
				</ul>
				
				{{ifselector 'link[type="application/atom+xml;profile=opds-catalog;kind=navigation"][rel=related],link[type="application/atom+xml;profile=opds-catalog"][rel=related]'}}
					<h2>Related books</h2>
					<ul>
					{{selectorAll 'link[type="application/atom+xml;profile=opds-catalog;kind=navigation"][rel=related],link[type="application/atom+xml;profile=opds-catalog"][rel=related]'}}
						<li>
							<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
						</li>
					{{/selectorAll}}
					</ul>
				{{/ifselector}}
			</li>
		{{/selectorAll}}
		
		{{selector 'link[rel=next]' feed}}
			<li>
				<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
			</li>
		{{/selector}}
	</ol>
</div>
