<div class="opds-feed">
	<header>
		<b>{{>title}}</b> feed</span>
		<button id="close-opds-feed" class="close-overlay">close</button>
	</header>
	{{if search}}
		<p><em>search not implemented</em></p>
	{{/if}}
	
	<ol>
		{{selector 'link[rel=start]' feed}}
			<li>
				<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
			</li>
		{{/selector}}
		
		{{selector 'link[rel=previous]' feed}}
			{{selector 'link[rel=first]' #parent.data.feed}}
				{{if getAttribute('href') !== #parent.data.getAttribute('href')}}
					<li>
						<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
					</li>
				{{/if}}
			{{/selector}}
			<li>
				<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
			</li>
		{{/selector}}
		
		{{selectorAll 'entry' feed}}
			{{ifselector 'link[type="application/atom+xml;profile=opds-catalog;kind=navigation"]:not([rel=related]),link[type="application/atom+xml;profile=opds-catalog"]:not([rel=related])'}}
				<li>
					<button data-next="{{selector 'link[type="application/atom+xml;profile=opds-catalog"]'}}
						{{>getAttribute('href')}}
					{{/selector}}">
						<em>
							{{selector 'link[type="image/png"]'}}
								<img src="{{>getAttribute('href')}}"/>
							{{/selector}}
							{{selector 'title'}}<span>{{>textContent}}</span>{{/selector}}
						</em>
						{{selector 'content[type=text]'}}
							<div>{{>textContent}}</div>
						{{/selector}}
						{{selector 'content[type=xhtml]'}}
							<div>{{selector '*'}}{{:innerHTML}}{{/selector}}</div>
						{{/selector}}
					</button>
				</li>
			{{/ifselector}}
			
			{{ifselector 'link[rel="http://opds-spec.org/acquisition"]'}}
				<li>
					<em>
						{{selector 'link[type="image/png"]'}}
							<img src="{{>getAttribute('href')}}"/>
						{{/selector}}
						{{selector 'title'}}<span>{{>textContent}}</span>{{/selector}}
					</em>
					{{selector 'content[type=text]'}}
						<div>{{>textContent}}</div>
					{{/selector}}
					{{selector 'content[type=xhtml]'}}
						<div>{{selector '*'}}{{:innerHTML}}{{/selector}}</div>
					{{/selector}}
					<hr/>
					<ul>
					{{selectorAll 'link[rel="http://opds-spec.org/acquisition"]'}}
						{{>getAttribute('type')}}
					{{/selectorAll}}
					</ul>
					
					{{ifselector 'link[type="application/atom+xml;profile=opds-catalog;kind=navigation"][rel=related],link[type="application/atom+xml;profile=opds-catalog"][rel=related]'}}
						<h2>Related books</h2>
						<ul>
						{{selectorAll 'link[type="application/atom+xml;profile=opds-catalog;kind=navigation"][rel=related],link[type="application/atom+xml;profile=opds-catalog"][rel=related]'}}
							<li>
								<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
							</li>
						{{/selectorAll}}
						</ul>
					{{/ifselector}}
				</li>
			{{/ifselector}}
		{{/selectorAll}}
		
		{{selector 'link[rel=next]' feed}}
			<li>
				<button data-next="{{>getAttribute('href')}}">{{>getAttribute('title')}}</button>
			</li>
		{{/selector}}
	</ol>
</div>
